@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.32px;
}

p {
    position: absolute;
    width: 295px;
    height: 40px;
    left: 40px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.32px;

    color: #FFFFFF;
}

.landing-text {
    padding: 80px 20px 70px 20px;
}